<h1 class="m-4 color-theme">About us</h1>
	
<div class="bg-white m-4 p-4 shadow">
	<ul class="fs-5">
		<h4>Welcome to Food Share !!</h4>
		<li>At FoodShare, we are driven by a simple yet powerful mission: to ensure that no one goes hungry</li>
		<li>FoodShare bridges the gap between surplus and scarcity.</li>
		<li>We collect donations from generous local businesses, grocery stores, farmers, and individuals, ensuring that no good food goes to waste. </li>
		<li>Our efficient distribution network then delivers this food to families, shelters, and community centers, bringing relief and hope to those in need.
		</li>
	</ul>
</div>