<h1 class="m-4 color-theme">Our Mission</h1>
	
<div class="bg-white m-4 p-4 shadow">
		<h4>Our mission is to envision a community where everyone has reliable access to sufficient, safe, 
			and nutritious food to lead healthy and active lives.
			Also, to reduce food waste by rescuing surplus food and redistributing it. Apart from this, we also want to 
engage and educate people about the issue of food insecurity.
		</h4>
</div>